---
title: "Sarkomnetzwerk"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    <header>{{ title }}</header>
    <nav>
      <a href="/">home</a>
      <a href="/netzwerk/">Sarkomnetzwerk</a>
      <a href="/messenger/">Messenger</a>
    </nav>
    {{ content | safe }}
    <footer>
      <nav>
        <a href="/impressum/">Impressum</a>
        <a href="/datenschutz/">Datenschutz</a>
        <a href="/kontakt/">Kontakt</a>
      </nav>
    </footer>
  </body>
</html>