---

---

<!doctype html>
<html lang="en">
    {% include "head.njk" %}
    <body>
        <div class="flex flex-col w-screen h-screen">
            {% include "header.njk" %}
            <div class="flex-1">
                {{ content | safe }}
            </div>
        </div>
    </body>
</html>