---
title: Datenschutz
layout: "layout.njk"
---

<article class="text-xl container mx-auto px-4 lg:px-32 my-16">
    <p class="italic">Stand vom 01.11.2024</p><br/>
    <h2 class="text-3xl font-bold mb-4">1. Wer ist für die Datenverarbeitung verantwortlich?</h2>
    <p>Wir, die Famedly GmbH, sind mit Ausnahme von Punkt 3 (Eigene Verantwortlichkeit der Famedly GmbH) als
        Auftragsverarbeiter im Sinne von Art. 28 DSGVO tätig. Die Verantwortung für die Datenverarbeitung liegt bei dem
        Auftraggeber, wie z.B. einer Gesundheitseinrichtung oder einem Unternehmen, der Famedly GmbH mit der Dienstleistung
        beauftragt hat. Der Auftraggeber ist Verantwortlicher im Sinne der DSGVO und legt fest, warum (Zweck) und wie (Mittel)
        personenbezogener Daten verarbeitet werden. Famedly GmbH als Auftragsverarbeiter verarbeitet die Daten nur nach
        Anweisungen des Auftraggebers. Deshalb sollten Sie bei Fragen zur Datenverarbeitung und Ihren Rechten den Auftraggeber
        kontaktieren, der Sie gebeten hat, die App zu nutzen.</p><br/>
    <h2 class="text-3xl font-bold mb-4">2. Wie werden Ihre Daten verarbeitet?</h2>
    <p>Die Verarbeitung personenbezogener Daten im Rahmen der Nutzung der Famedly-App kann je nach des spezifischen
        Auftraggebers unterschiedlich ablaufen. Diese Unterschiede betreffen insbesondere die genauen Prozesse und die
        Speicherdauer. Für detaillierte Informationen zur Datenverarbeitung wenden Sie sich bitte direkt an die jeweilige
        Einrichtung, Sie gebeten hat, die App zu nutzen.Bestimmte Informationen werden bereits automatisch verarbeitet, sobald
        Sie die App verwenden. Welche personenbezogenen Daten genau verarbeitet werden, haben wir im Folgenden für Sie
        aufgeführt:
    </p><br/>
    <h3 class="text-2xl font-bold mb-4">2.1 Informationen, die beim Download erhoben werden</h3>
    <p>Beim Download der App werden bestimmte erforderliche Informationen an den von Ihnen ausgewählten App Store (Apple App
        Store, Google Play Store) übermittelt, insbesondere können dabei der Nutzername, die E-Mail-Adresse, die Kundennummer
        Ihres Accounts, der Zeitpunkt des Downloads, Zahlungsinformationen sowie die individuelle Gerätekennziffer verarbeitet
        werden. Die Verarbeitung dieser Daten erfolgt ausschließlich durch den jeweiligen App Store und liegt außerhalb unseres
        Einflussbereiches.
    </p><br/>
    <h3 class="text-2xl font-bold mb-4">2.2 Informationen, die automatisch erhoben werden‍</h3>
    <p>Im Rahmen Ihrer Nutzung der App werden bestimmte Daten automatisch erhoben, die für die Nutzung der App erforderlich
        sind. Hierzu gehören: [interne Geräte-ID, Version Ihres Betriebssystems, Zeitpunkt des Zugriffs, IP-Adresse, Inhalt des
        Zugriffs, Nutzerpseudonym (localpart der gehashten mxid)].
    </p><br/>
    <h3 class="text-2xl font-bold mb-4">2.3 Nutzung der App</h3>
    <p>Im Rahmen der App können Sie mittels Nachrichten mit Ihrer jeweiligen Gesundheitseinrichtung bzw. Unternehmen
        (Auftraggeber) in Kontakt treten und diverse Informationen, Aufgaben und Aktivitäten eingeben, verwalten und bearbeiten.
        Die Verarbeitung der Nachrichten erfolgt ausschließlich durch den Auftraggeber. Zur Registrierung ist die Angabe Ihres
        Vor- und Nachnamens und das Festlegen eines Passworts notwendig. Darüber hinaus können Sie Ihre E-Mail-Adresse angeben
        und optional ein Profilfoto hinterlegen. Bei der Nutzung der App wird zudem das Datum Ihrer Registrierung und das Datum
        Ihres letzten Logins verarbeitet. Sämtliche Textnachrichten, Bilddateien, Dokumente oder Sprachnachrichten, die Sie in
        die App eingeben oder von anderen Nutzern erhalten, werden zwecks Zustellung zu Ihrem Kommunikationspartner
        Ende-zu-Ende-verschlüsselt auf den Servern Ihrer und ggf. der empfangenden Einrichtung gespeichert. Nachdem die
        Nachrichten aber Ende-zu-Ende verschlüsselt sind, hat nur der Empfänger der Nachricht Zugriff auf die Inhalte der
        Kommunikation. Das bedeutet, weder der Auftraggeber noch die Famedly GmbH Zugriff auf die Inhalte der Kommunikation
        haben. Aufgrund des dezentralen Charakters der TI Messenger Architektur ist eine Kontaktaufnahme mit Nutzern anderer
        Server ohne direkten, persönlichen Kontakt nur möglich, wenn beide Nutzer im TI Messenger Verzeichnis der gematik
        eingetragen sind oder beide Nutzer sich gegenseitig auf ihre jeweilige Freigabeliste geschrieben haben. Bei Nutzung des
        klinischen Messengers von Famedly ohne Anbindung an die Telematikinfrastruktur tritt an die Stelle des TI Messenger
        Verzeichnisses das „globale Nutzerverzeichnis. Ein persönlicher Kontakt mit Nutzern anderer Server ist dann nur möglich
        wenn beide Nutzer im „globalen Nutzerverzeichnis“ eingetragen sind. Diese Funktion ist standardmäßig aktiviert, Sie
        können sie jedoch jederzeit in der App unter “Mehr” und dort unter der Schaltfläche “Benutzersuche” deaktivieren.Für
        alle Fragen der Datenverarbeitung und der Rechte der Betroffenen ist die jeweilige Gesundheitseinrichtung bzw.
        Unternehmen (Auftraggeber) der Verantwortliche im Sinne der DSGVO. Famedly handelt dabei ausschließlich im Rahmen der
        vertraglichen Vereinbarungen und auf Weisung des Auftraggebers.</p><br/>
    <h3 class="text-2xl font-bold mb-4">2.4 Berechtigungen der App</h3>
    <p>Um die volle Funktionsfähigkeit der App zu gewährleisten, benötigt die Famedly-App bestimmte Berechtigungen auf Ihrem
        Endgerät. Die Berechtigungen werden bei der Installation und Nutzung der App explizit angefragt und müssen durch den
        Nutzer bestätigt werden. Folgende Berechtigungen sind notwendig:
    </p><br/>
    <ul>
        <li>Internetzugriff: Dieser wird benötigt, um Nachrichten und Anfragen zu übermitteln sowie ggf. Ihre Eingaben auf
            unseren Servern zu speichern.</li>
        <li>Kamerazugriff: Dieser wird benötigt, damit Sie ein Profilfoto von sich aufnehmen und speichern, Fotos zum Versand
            aufnehmen sowie Video-Telefonie durchführen können.</li>
        <li>Mikrofonzugriff: Dieser wird benötigt, damit Sie Sprachnachrichten aufnehmen und speichern, sowie Video-Telefonie
            durchführen können.</li>
        <li>Push-Notifications: Dieser wird benötigt, um Ihnen zielgerichtete Push-Nachrichten für eingehende
            Nachrichten/Anfragen senden zu können.</li>
        <li>Gerätespeicher: Dieser wird benötigt, wenn Daten mit anderen NutzerInnen ausgetauscht werden sollen.</li>
        <li>Bluetooth-Zugriff: Dieser wird benötigt, um Bluetooth-Headsets oder Kopfhörer verwenden zu können.</li>
        <li>Biometrische Zugangsdaten (z.B. FaceID): Optional, um die App durch biometrische Authentifizierungsverfahren (z.B.
            App-Lock) zu sichern.</li>
        <li>Sie können die erteilten Berechtigungen in den Einstellungen Ihres Geräts jederzeit widerrufen oder ändern.
            Einschränkungen bei den Berechtigungen können allerdings die Nutzung bestimmter Funktionen der App beeinträchtigen.
            Funktionen, die nicht von den Berechtigungen betroffen sind, bleiben jedoch weiterhin nutzbar.</li>
    </ul><br/>
    <h3 class="text-2xl font-bold mb-4">2.5 Zeitraum der Datenspeicherung</h3>
    <p>Die Speicherung der personenbezogenen Daten im Rahmen der Nutzung der Famedly-App kann je nach der spezifischen
        Anforderungen des Auftraggebers unterschiedlich lange ausfallen. Für detaillierte Informationen zur Speicherdauer wenden
        Sie sich bitte direkt an den Auftraggeber (Gesundheitseinrichtung bzw. Unternehmen) von Famedly, der Sie gebeten hat die
        Famedly-App zu nutzen.
    </p><br/>
    <h3 class="text-2xl font-bold mb-4">2.6 Empfänger
    </h3>
    <p>Sämtliche Textnachrichten, Bilddateien, Dokumente oder Sprachnachrichten, die über die Famedly-App ausgetauscht
        werden, sind Ende-zu-Ende-verschlüsselt. Dadurch hat weder der Auftraggeber noch Famedly Zugriff auf den Inhalt dieser
        Daten.
    </p><br/>
    <h3 class="text-2xl font-bold mb-4">2.7 Hinweis zu den Rechten als Betroffener:</h3>
    <p>Für Fragen der Datenverarbeitung und der Rechte der Betroffenen ist der jeweilige Auftraggeber
        (Gesundheitseinrichtung bzw. Unternehmen) der Verantwortliche im Sinne der DSGVO. Dieser ist daher für die Bearbeitung
        und Erfüllung der Betroffenenrechte zuständig. Wir bitten Sie diesbezügliche Anfragen an den Auftraggeber direkt zu
        stellen.Nähere Informationen nach Art. 13 DSGVO entnehmen Sie bitte der Datenschutzinformation des Auftraggebers, der
        Sie gebeten hat, die Famedly-App zu nutzen.
    </p><br/> ‍
    <h2 class="text-3xl font-bold mb-4">3. Eigene Verantwortlichkeit der Famedly GmbH</h2>
    <p>In folgenden Fällen tritt die Famedly GmbH im Rahmen der Nutzung der Famely-App als Verantwortlicher im Sinne der
        DSGVO für die Datenverarbeitung auf:
    </p><br/>
    <h3 class="text-2xl font-bold mb-4">3.1 Nutzungs- und Absturzdaten</h3>
    <p>Sie haben die Möglichkeit, Ihre Nutzungs- und Absturzdaten mit der Famedly GmbH zu teilen. Mit den erhobenen Daten
        zur App-Nutzung und zu Fehlerberichten können wir die Funktionalität unserer App optimieren und technische Probleme
        analysieren. Diese Datenverarbeitung erfolgt ausschließlich auf Grundlage Ihrer Einwilligung gemäß Art. 6 Abs. 1 lit. a
        DSGVO. Dabei verwenden wir den Dienst Sentry (1501 Mariposa St #408, San Francisco, CA 94107, USA), um die technische
        Stabilität unseres Dienstes durch Überwachung der Systemstabilität und Ermittlung von Codefehlern zu verbessern. Die
        erhobenen Daten, wie beispielsweise Angaben zum Gerät oder Fehlerzeitpunkt, dienen ausschließlich diesen Zwecken und
        werden nicht für Werbezwecke verwendet. Alle Daten werden anonym erhoben und nicht personenbezogen genutzt sowie nach
        der Analyse gelöscht. Sie haben jederzeit die Möglichkeit, Ihre Einwilligung in den App-Einstellungen mit Wirkung für
        die Zukunft zu widerrufen. Es besteht für Sie keine Verpflichtung, diese Daten bereitzustellen. Die Nichtbereitstellung
        Ihrer Daten hat keinerlei negative Folgen für Sie. Weitere Informationen finden Sie in der Datenschutzerklärung von
        Sentry unter https://sentry.io/privacy/.Da es sich um anonymisierte Daten handelt, ist kein Personenbezug gegeben. Wir
        führen dies hier nur der Transparenz halber auf.
    </p><br/>
    <h3 class="text-2xl font-bold mb-4">3.2 Kontaktformular und Kontaktaufnahme per E-Mail</h3>
    <p>Wenn Sie uns per Kontaktformular oder E-Mail Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular
        bzw. Ihrer E-Mail inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall
        von Anschlussfragen bei uns gespeichert. Diese Daten geben wir in keinem Fall ohne Ihre Einwilligung weiter.
        Rechtsgrundlage für die Verarbeitung der Daten ist unser berechtigtes Interesse an der Beantwortung Ihres Anliegens
        gemäß Art. 6 Abs. 1 lit. f DSGVO sowie ggf. Art. 6 Abs. 1 lit. b DSGVO, sofern Ihre Anfrage auf den Abschluss eines
        Vertrages abzielt. Ihre Daten werden nach abschließender Bearbeitung der Anfrage gelöscht, sofern keine gesetzlichen
        Aufbewahrungspflichten entgegenstehen. Sofern Ihre Kontaktaufnahme im Rahmen der Vertragsanbahnung erfolgt, ist die
        Angabe Ihrer Daten für den Vertragsabschluss erforderlich. Im Rahmen der Vertragserfüllung sind Sie verpflichtet, jene
        Daten bereitzustellen, die zur ordnungsgemäßen Behandlung Ihrer Anfrage erforderlich sind. Wenn die Kontaktaufnahme aus
        anderen als den oben genannten Gründen erfolgt, besteht für Sie keine Verpflichtung, diese Daten bereitzustellen. Die
        Nichtbereitstellung Ihrer Daten hätte zur Folge, dass wir Ihre Anfrage nicht weiter behandeln können.
    </p><br/>
    <h3 class="text-2xl font-bold mb-4">3.3 Zeitraum der Datenspeicherung</h3>
    <p>Personenbezogene Daten werden nur so lange gespeichert, als diese für die Zwecke, für die sie erhoben bzw.
        verarbeitet wurden, benötigt werden. Sobald der jeweilige Zweck erreicht ist, werden Ihre personenbezogenen Daten von
        Famedly unwiderruflich gelöscht oder anonymisiert.
    </p><br/>
    <h3 class="text-2xl font-bold mb-4">3.4 Ihre Rechte als Betroffener</h3>
    <h4 class="text-xl font-bold mb-4">3.4.1 Auskunftsrecht</h4>
    <p>Sie haben das Recht, von uns jederzeit auf Antrag eine Auskunft über die von uns verarbeiteten, Sie betreffenden
        personenbezogenen Daten im Umfang des Art. 15 DSGVO zu erhalten. Hierzu können Sie einen Antrag postalisch oder per
        E-Mail an die unten angegebene Adresse stellen.
    </p><br/>
    <h4 class="text-xl font-bold mb-4">3.4.2 Recht zur Berichtigung unrichtiger Daten</h4>
    <p>Sie haben das Recht, von uns die unverzügliche Berichtigung der Sie betreffenden personenbezogenen Daten zu
        verlangen, sofern diese unrichtig sein sollten.
    </p><br/>
    <h4 class="text-xl font-bold mb-4">3.4.3 Recht auf Löschung</h4>
    <p>Sie haben das Recht, unter den in Art. 17 DSGVO beschriebenen Voraussetzungen von uns die Löschung Ihrer
        personenbezogenen Daten zu verlangen. Diese Voraussetzungen sehen insbesondere ein Löschungsrecht vor, wenn die
        personenbezogenen Daten für die Zwecke, für die sie erhoben oder auf sonstige Weise verarbeitet wurden, nicht mehr
        notwendig sind, sowie in Fällen der unrechtmäßigen Verarbeitung, des Vorliegens eines Widerspruchs oder des Bestehens
        einer Löschungspflicht nach Unionsrecht oder dem Recht des Mitgliedstaates, dem wir unterliegen. Zum Zeitraum der
        Datenspeicherung siehe im Übrigen Ziffer 5 dieser Datenschutzerklärung.
    </p><br/>
    <h4 class="text-xl font-bold mb-4">3.4.4 Recht auf Einschränkung der Verarbeitung</h4>
    <p>Sie haben das Recht, von uns die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten nach Maßgabe des Art.
        18 DSGVO zu verlangen. Dieses Recht besteht insbesondere, wenn die Richtigkeit der personenbezogenen Daten zwischen dem
        Nutzer und uns umstritten ist, für die Dauer, welche die Überprüfung der Richtigkeit erfordert, sowie im Fall, dass der
        Nutzer bei einem bestehenden Recht auf Löschung anstelle der Löschung eine eingeschränkte Verarbeitung verlangt; ferner
        für den Fall, dass die Daten für die von uns verfolgten Zwecke nicht länger erforderlich sind, der Nutzer sie jedoch zur
        Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigt sowie, wenn die erfolgreiche Ausübung eines
        Widerspruchs zwischen uns und dem Nutzer noch umstritten ist.
    </p><br/>
    <h4 class="text-xl font-bold mb-4">3.4.5 Recht auf Datenübertragbarkeit</h4>
    <p>Sie haben das Recht, von uns die personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten,
        gängigen, maschinenlesbaren Format nach Maßgabe des Art. 20 DSGVO zu erhalten.
    </p><br/>
    <h4 class="text-xl font-bold mb-4">3.4.6 Widerspruchsrecht</h4>
    <p>Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung
        Ihrer personenbezogenen Daten, die u.a. aufgrund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, Widerspruch nach Art. 21
        DSGVO einzulegen. Wir werden die Verarbeitung Ihrer personenbezogenen Daten einstellen, es sei denn, wir können
        zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihren Interessen, Rechte und Freiheiten überwiegen,
        oder wenn die Verarbeitung der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen dient.
    </p><br/>
    <h4 class="text-xl font-bold mb-4">3.4.7 Beschwerderecht</h4>
    <p>Im Falle datenschutzrechtlicher Verstöße steht dem Betroffenen ein Beschwerderecht bei der zuständigen
        Aufsichtsbehörde zu. Zuständige Aufsichtsbehörde in datenschutzrechtlichen Fragen ist der Landesdatenschutzbeauftragte
        des Bundeslandes, in dem unser Unternehmen seinen Sitz hat. Eine Liste der Datenschutzbeauftragten sowie deren
        Kontaktdaten können folgendem Link entnommen werden:
        https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html.
    </p><br/>
    <h4 class="text-xl font-bold mb-4">3.4.8 Automatische Entscheidungsfindung/Profiling</h4>
    <p>Die Famedly GmbH führt keine automatische Entscheidungsfindung oder sogenanntes Profiling im Zusammenhang mit der
        Nutzung der Famedly-App durch.
    </p><br/>
    <h2 class="text-3xl font-bold mb-4">4. Änderungen und Aktualisierungen dieser Datenschutzinformation</h2>
    <p>Wir können unsere Datenschutzinformationen bei Bedarf aktualisieren. Die letzte Änderung ist anhand des Datums unter
        der Überschrift auf Seite 1 ersichtlich.
    </p><br/>
    <h2 class="text-3xl font-bold mb-4">5. Kontaktdaten
    </h2>
    <p>
        Famedly GmbH<br/> Prenzlauer Allee 221<br/> 10405 Berlin<br/> E-Mail: info@famedly.com<br/> <br/>
        Datenschutzbeauftragter der Famedly GmbH:
        <br/> DataGAP GmbH<br/> Bessemerstr. 82<br/> 10. OG Süd<br/> 12103 Berlin<br/> Telefon: 030 - 577 10 513<br/> E-Mail:
        <a class="text-indigo-800 hover:text-indigo-500 underline" href="mailto:team@datagap.de">team@datagap.de</a><br/> ‍Internet:
        <a class="text-indigo-800 hover:text-indigo-500 underline" href="https://www.datagap.de">www.datagap.de</a><br/>
    </p>
</article></p>