---
title: Home
layout: "layout.njk"
---

<article class="text-xl container mx-auto px-4 lg:px-32 my-16">
    <img
        class="w-full mb-16 rounded-xl shadow-lg shadow-indigo-100"
        src="https://krille-chan.github.io/sarkomnetzwerk/assets/famedly_banner.png"/>
    <h1 class="text-3xl font-bold mb-4">Famedly Messenger Sarkomnetzwerk</h1>
    <h3 class="text-xl font-bold mb-4">Über Famedly</h3>
    <p class="italic">Bitte beachten Sie: Da die Konfiguration des Sarkomnetzwerks von unserem Standard abweicht, können
        einzelne Punkte von unserer Standard-Dokumentation abweichen.</p>
    <br/>
    <h4 class="font-bold">Der Famedly Messenger ist eine sichere Kommunikationslösung für das Gesundheitswesen, die folgende
        Kernaspekte bietet:</h4>
    <br/>
    <ul class="list-disc list-inside">
        <li>Ende-zu-Ende-verschlüsselte Kommunikation für den sicheren und schnellen Austausch von Patientendaten und
            behandlungsrelevanten Informationen zwischen medizinischem Personal</li>
        <li>Verfügbar auf verschiedenen Plattformen: iOS, Android und als Webanwendung</li>
    </ul>
    <br/>
    <p>Das Produkt wurde von den Ärzten Dr. Philipp Kurtz und Dr. Niklas Zender entwickelt, mit der Vision, den
        Informationsaustausch zwischen medizinischen Fachkräften zu verbessern und das Gesundheitswesen zu vernetzen.</p>
    <br/>
    <h4 class="font-bold">Besondere Funktionen umfassen:</h4>
    <br/>
    <ul class="list-disc list-inside">
        <li>Gruppenchats und Einzelkommunikation</li>
        <li>Austausch von Text, Bildern und Dokumenten</li>
    </ul>
    <br/>
    <p>Weitere Informationen finden Sie unter:
        <a class="text-indigo-800 hover:text-indigo-500 underline" href="https://docs.famedly.com/de">docs.famedly.com/de</a>
    </p><br/> <hr class="my-16"/>
    <h2 class="text-2xl font-bold mb-4">Schritt 1: Registrierung</h2>
    <ul class="list-decimal list-inside ml-4">
        <li>Registrieren Sie sich auf der Website, die auf der Sarkomnetzwerk Website eingebunden ist. Dafür benötigen Sie eine
            E-Mail-Adresse.
        </li>
        <li>Warten Sie, bis Ihr Account vom Administrator des Sarkomnetzwerks freigegeben ist. Sie erhalten eine E-Mail, sobald
            dies erfolgt ist.
        </li>
    </ul>
    <br/>
    <h2 class="text-2xl font-bold mb-4">Schritt 2: Zugang zum Messenger</h2>
    <p>Sie haben zwei Möglichkeiten, den Messenger zu nutzen. Beide Möglichkeiten können auch zeitgleich genutzt werden.</p>
    <br/>
    <h3 class="text-xl font-bold mb-4">Über den Webbrowser an Ihrem Computer</h3>
    <ol class="list-decimal list-inside ml-4">
        <li>Öffnen Sie Ihren bevorzugten Internetbrowser (z.B. Chrome, Firefox, Safari).
        </li>
        <li>Geben Sie in die Adresszeile ein:
            <a
                class="text-indigo-800 hover:text-indigo-500 underline"
                href="https://krille-chan.github.io/sarkomnetzwerk/messenger/">sarkom.net/messenger/</a>
        </li>
        <li>Drücken Sie die Eingabetaste (↵).</li>
        <li>Fahren Sie mit Schritt 3 fort</li>
    </ol><br/>
    <h3 class="text-xl font-bold mb-4">Über die mobile App auf Ihrem Smartphone oder Tablet</h3>
    <ol class="list-decimal list-inside ml-4">
        <li>Öffnen Sie Famedly im
            <a class="text-indigo-800 hover:text-indigo-500 underline" href="https://famedly.gitlab.io/" target="_blank">
                AppStore/PlayStore</a>
            oder scannen Sie diesen QR-Code: <img src="https://krille-chan.github.io/sarkomnetzwerk/assets/store_qr_code.png" class="float-right w-32 h-32"/>
        </li>
        <li>Installieren Sie die App auf Ihrem Smartphone oder Tablet, indem Sie auf “Installieren” tippen.
        </li>
        <li>Fahren Sie mit Schritt 3 fort</li>
    </ol><br/>
    <h2 class="text-2xl font-bold mb-4">Schritt 3: Anmeldung vorbereiten</h2>
    <p class="italic">Im Webbrowser oder in der geöffneten App</p>
    <br/>
    <p>1. Sie sehen ein Eingabefeld mit der Beschriftung "Anmelde-URL". Geben Sie dort exakt diese URL ein:
    </p>
    <p class="p-4 bg-gray-200 rounded-xl my-4 text-center">sarkomnetzwerk.famedly.care</p>
</span>
<br/> <img
    class="w-full mb-16 rounded-xl shadow-lg shadow-indigo-100"
    src="https://krille-chan.github.io/sarkomnetzwerk/assets/onboarding_01.png"/>
<br/>
<p>2. Klicken oder tippen Sie auf den Weiter Button.</p>
<br/>
<h2 class="text-2xl font-bold mb-4">Schritt 4: Anmeldung vorbereiten</h2>
<p class="italic">Im Webbrowser oder in der geöffneten App</p>
<br/>
<p>1. Sie sehen ein Eingabefeld mit der Beschriftung “Loginname”. Geben Sie dort Ihre Email-Adresse ein.</p>
<br/> <img
    class="w-full mb-16 rounded-xl shadow-lg shadow-indigo-100"
    src="https://krille-chan.github.io/sarkomnetzwerk/assets/onboarding_02.png"/>
<br/>
<p>2. Klicken oder tippen Sie auf den Weiter Button.</p>
<br/>
<p>3. Sie sehen ein Eingabefeld mit der Beschriftung “Passwort”. Geben Sie dort Ihr Passwort ein.</p>
<br/> <img
    class="w-full mb-16 rounded-xl shadow-lg shadow-indigo-100"
    src="https://krille-chan.github.io/sarkomnetzwerk/assets/onboarding_03.png"/><br/>
<p>4. Klicken oder tippen Sie auf den Weiter Button.</p>
<br/>
<p>5. Öffnen Sie nun Ihr → Email-Programm. Sie finden nun eine Email in Ihrem Postfach mit einem Verifizierungs-Code.</p>
<br/>
<p>6. Kehren Sie zurück zum TI-Messenger. Sie sehen ein Eingabefeld mit der Beschriftung “Code”. Geben Sie dort den
    Verifizierungs-Code aus der Email ein.</p>
<br/> <img
    class="w-full mb-16 rounded-xl shadow-lg shadow-indigo-100"
    src="https://krille-chan.github.io/sarkomnetzwerk/assets/onboarding_04.png"/><br/>
<p>7. Klicken oder tippen Sie auf den Weiter Button.</p>
<br/>
<p class="text-green-600 font-bold">8. Herzlichen Glückwunsch! Sie sind nun erfolgreich im TI-Messenger angemeldet.</p>
<br/> <img
    class="w-full mb-16 rounded-xl shadow-lg shadow-indigo-100"
    src="https://krille-chan.github.io/sarkomnetzwerk/assets/onboarding_welcome-banner.png"/><br/>
<p class="italic">Sie haben sich erfolgreich bei Famedly angemeldet und können nun den TI-Messenger nutzen. Sollten Sie
    noch Fragen haben, besuchen Sie gerne unser
    <a class="text-indigo-800 hover:text-indigo-500 underline" href="https://docs.famedly.de">HelpCenter</a>.</p></article>