---
title: Impressum
layout: "layout.njk"
---

<div class="container px-8 mx-auto text-xl">
    <h1 class="text-4xl font-bold pb-8 pt-12">Impressum</h1>
    <p>
        <p class="font-bold">Angaben gemäß § 5 TMG</p>
        <p>
            Verein für Innovation und Versorgung in der Onkologie<br/> c/o Onkologischer Schwerpunkt am<br/> Oskar-Helen-Heim<br/>
            Clayallee 225a<br/> 14195 Berlin<br/>
        </p><br/>
        <h3 class="font-bold">Vertreten durch:</h3>
        <p>Priv.-Doz. Dr. med. Markus Schuler, MSc</p>
        <br/>
        <p>
            <h3 class="font-bold">Kontakt</h3>
            Telefon:
            <a class="text-indigo-800 underline hover:text-indigo-500" href="tel:+4930235991710">(030) 23 59 91 710</a><br/> Fax:
            <a class="text-indigo-800 underline hover:text-indigo-500" href="fax:+4930235991756">(030) 23 59 91 756</a><br/> E-Mail:
            <a class="text-indigo-800 underline hover:text-indigo-500" href="mailto:info@ivo.center">info@ivo.center</a><br/>
        </p><br/>
        <p>
            <h3 class="font-bold">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h3>
            Priv.-Doz. Dr. med. Daniel Pink<br/> Verein für Innovation und Versorgung in der Onkologie<br/> c/o Onkologischer
            Schwerpunkt am<br/> Oskar-Helen-Heim<br/> Clayallee 225a<br/> 14195 Berlin<br/>
        </p>
        <div class="my-8"></div>
    </div>