---
title: Home
layout: "layout.njk"
---

<article class="border-b p-4">
    <div class="flex">
        <div class="flex-1 flex justify-center">
            <img class="w-56" src="/assets/placeholder.svg" alt="placeholder"/>
        </div>
        <div class="flex-1">
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua.
            </p>
            <br/>
            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                ipsum dolor sit amet.</p>
        </div>
    </div>
</article>
<article class="border-b p-4">
    <div class="flex">
        <div class="flex-1">
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua.
            </p>
            <br/>
            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                ipsum dolor sit amet.</p>
        </div>
        <div class="flex-1 flex justify-center">
            <img class="w-56" src="/assets/placeholder.svg" alt="placeholder"/>
        </div>
    </div>
</article>