---
title: Home
layout: "layout.njk"
---

<article class="text-xl container mx-auto px-4 lg:px-32 my-16">
    <img
        class="h-80 w-80 rounded-xl shadow-lg shadow-indigo-100 md:float-left md:mr-16 mb-8"
        src="/assets/image_1.png"
        alt="placeholder"/>
    <h1 class="text-2xl font-bold mb-4">Herzlich willkommen auf den Seiten unseres
        <span class="text-indigo-800">sarkom.net<span class="text-cyan-700">zwerk</span>
        </h1>
        <p>Wenn Sie Patientinnen oder Patienten mit einem Sarkom bzw. Verdacht auf ein Sarkom betreuen oder allgemein an der
            Betreuung von Sarkompatien:innen interessiert sind, wenn Sie an einem Kontakt zu (anderen) Sarkomzentren und an
            interdisziplinärer Zusammenarbeit interessiert sind, möchten wir Sie herzlich einladen, sich über unser
            <span class="text-indigo-800">sarkom.net<span class="text-cyan-700">zwerk</span>
            </span>
        </span>
        zu informieren bzw.mit unserem
        <span class="text-indigo-800">sarkom.net<span class="text-cyan-700">zwerk</span>
        </span>
        Kontakt aufzunehmen. Wir sind aktuell insbesondere in den östlichen Bundesländern (Schwerpunkt Mecklenburg-Vorpommern,
        Berlin/Brandenburg, Sachsen) tätig.
    </p><br/>
    <p>
        Auf unserer Homepage finden Sie
        <a class="text-indigo-800 hover:text-indigo-500 underline" href="/netzwerk/">weiterführende Informationen</a>
        zu unserem sarkom.netzwerk, zu
        <a class="text-indigo-800 hover:text-indigo-500 underline" href="/diagnose-und-behandlung/">wichtigen Untersuchungs- und
            Therapieverfahren</a>
        im Rahmen der Sarkombehandlung,
        <a class="text-indigo-800 hover:text-indigo-500 underline" href="/teilnehmer/">zu den aktuell beteiligten Sarkomzentren</a>
        und zu unserem
        <a class="text-indigo-800 hover:text-indigo-500 underline" href="/hilfe/">Angebot des datenschutzkonformen Austauschs
            z.B. zu Patientendaten</a>
        . Des weiteren besteht die
        <a class="text-indigo-800 hover:text-indigo-500 underline" href="/messenger/">Möglichkeit, hier mit dem Sarkomnetzwerk
            Kontakt aufzunehmen bzw. sich als Teilnehmerin/Teilnehmer am sarkom.netzwerk anzumelden</a>.
    </p>
    <br/> <img
        class="md:float-right md:ml-16 mb-16 w-96 h-96 rounded-xl shadow-lg shadow-indigo-100"
        src="/assets/image_2.png"
        alt="placeholder"/>
    <p>Die Weiterentwicklung des Sarkometzwerks sowie die Umsetzung der technischen Lösung (Homepage, Messenger) wurden
        finanziell durch die Firmen Deciphera Pharmaceuticals, LLC sowie Boehringer Ingelheim Pharma GmbH & Co. KG unterstützt,
        wofür wir sehr dankbar sind. Weitere Spenden sind sehr willkommen.</p><br/> <img class="mb-8 w-80" src="/assets/banner.png"/></article>
<article class="container mx-auto px-8 md:flex md:flex-row md:space-x-32 items-center justify-center my-32">
    <div class="w-96 rounded-xl shadow-lg shadow-indigo-100 p-8">
        <h1 class="text-3xl font-bold mb-4">Das Netzwerk</h1>
        <p class="italic mb-8">Wie ist unser Sarkomnetzwerk strukturiert?</p>
        <a class="hover:bg-indigo-100 transition-all text-indigo-800 rounded-xl bg-indigo-50 p-4" href="/netzwerk/">Mehr
            erfahren</a>
    </div>
    <div class="w-96 rounded-xl shadow-lg shadow-indigo-100 p-8">
        <h1 class="text-3xl font-bold mb-4">Der Messenger</h1>
        <p class="italic mb-8">Kommunizieren Sie mit den Teilnehmern.</p>
        <a class="hover:bg-indigo-100 transition-all text-indigo-800 rounded-xl bg-indigo-50 p-4" href="/hilfe/">Mehr erfahren</a>
    </div>
</article>