---
title: Home
layout: "layout.njk"
---

<article class="text-xl">
    <div class="md:flex container mx-auto px-2 md:px-8">
        <div class=" flex justify-start p-16 items-center">
            <img class="h-80 w-80 rounded-xl shadow-lg shadow-indigo-100" src="/assets/image_1.png" alt="placeholder"/>
        </div>
        <div class="flex-1 p-16">
            <h1 class="text-2xl font-bold mb-4">Herzlich willkommen auf den Seiten unseres Sarkomnetzwerks!</h1>
            <p class="italic mb-12">
                Warum gibt es unser Sarkomnetzwerk?
            </p>
            <p>Sarkome sind sehr seltene bösartige Tumoren. Die bestmögliche Behandlung von Sarkomen erfordert oft den Einsatz
                komplexer Diagnostik- und Therapieverfahren. Die Betreuung von Sarkompatientinnen und –patienten sollte an entsprechend
                erfahrenen Zentren oder zumindest in Kooperation mit Sarkomzentren erfolgen.
            </p>
        </div>
    </div>
</article>
<article class="text-xl mb-16">
    <div class="flex container mx-auto px-8">
        <div class="flex-1 p-16">
            <p>
                Nicht an allen Sarkomzentren werden alle
                <a class="text-indigo-800 hover:text-indigo-500 underline" href="/diagnose-und-behandlung/">spezialisierten
                    Untersuchungs- und Behandlungsverfahren</a>
                durchgeführt, weshalb es im Einzelfall sinnvoll sein kann, Sarkompatientinnen und –patienten für definierte Phasen ihrer
                Erkrankungsbehandlung zwischen Sarkomzentren zur Weiterbehandlung zu überweisen. Im Laufe der letzten Jahre haben sich
                hierfür zwischen einigen
                <a href="/teilnehmer/">Sarkomzentren</a>
                sehr enge Kooperationen entwickelt.
            </p>
            <br/>
            <p>Gerade in Mecklenburg-Vorpommern als Flächenland sind die Wege zwischen niedergelassenen Fachärzten, wohnortnahen
                Krankenhäusern und Sarkomzentren oft sehr weit. Um bei Fragen bezüglich der Diagnosestellung bzw. der Behandlung einer
                Sarkompatientin/eines Sarkompatienten eine möglichst unkomplizierte Kontaktaufnahme zu einem Sarkomzentrum, die
                Vorstellung in einem interdisziplinären Sarkomboard oder aber auch die Vereinbarung eines Termins für ein
                Beratungsgespräch am Sarkomzentrum zu ermöglichen, wurde das Sarkomnetzwerk Mecklenburg-Vorpommern (M-V) gegründet. Ziel
                ist es, das Sarkomnetzwerk M-V schrittweise auf weitere Regionen wie Brandenburg und Sachsen zu erweitern und auch
                weitere Sarkomzentren an dem Netzwerk zu beteiligen.</p>
        </div>
        <div class="flex justify-end p-16 items-center">
            <img class="w-96 h-96 rounded-xl shadow-lg shadow-indigo-100" src="/assets/image_2.jpeg" alt="placeholder"/>
        </div>
    </div>
</article>
<article class="container mx-auto flex flex-row space-x-32 items-center justify-center mb-24">
    <div class="w-96 rounded-xl shadow-lg shadow-indigo-100 p-8">
        <h1 class="text-3xl font-bold mb-4">Das Netzwerk</h1>
        <p class="italic mb-8">Wie ist unser Sarkomnetzwerk strukturiert?</p>
        <a class="hover:bg-indigo-100 transition-all text-indigo-800 rounded-xl bg-indigo-50 p-4" href="/netzwerk/">Mehr
            erfahren</a>
    </div>
    <div class="w-96 rounded-xl shadow-lg shadow-indigo-100 p-8">
        <h1 class="text-3xl font-bold mb-4">Der Messenger</h1>
        <p class="italic mb-8">Kommunizieren Sie mit den Teilnehmern.</p>
        <a class="hover:bg-indigo-100 transition-all text-indigo-800 rounded-xl bg-indigo-50 p-4" href="/messenger/">Mehr
            erfahren</a>
    </div>
</article>