---
title: Kontakt
layout: "layout.njk"
---

<article class="text-xl container mx-auto px-4 lg:px-32 my-16">
    <p class="mb-8 text-center">
        Bei Fragen oder Problemen, können Sie jederzeit gern per E-Mail mit uns Kontakt aufnehmen.
    </p>
    <div class="flex flex-row justify-center items-center">
        <a
            class="py-6 w-80 text-center bg-indigo-800 rounded-lg text-white hover:scale-105 transition-transform"
            href="mailto:admin@sarkom.net"
            target="_blank">admin@sarkom.net</a>
    </div>
</article>