---
title: Messenger
layout: "layout.njk"
---

<article class="text-xl container mx-auto px-4 lg:px-32 my-16">
    <div class="flex flex-row justify-center items-center">
        <img class="w-96 mb-16" src="/assets/banner_2.png"/>
    </div>
    <p class="text-center mb-8 italic">Das Sarkomnetzwerk stellt Ihnen den Famedly Messenger zur kostenfreien Nutzung zur
        Verfügung. Um diesen nutzen zu können, müssen Sie sich zunächst registrieren. Sie werden dann von unserer Administration
        freigeschaltet und benachrichtigt, wenn Sie den Messenger nutzen können.</p>
    <div class="flex flex-row justify-center items-center">
        <a
            class="py-6 w-80 text-center bg-indigo-800 rounded-lg text-white hover:scale-105 transition-transform"
            href="https://auth.famedly.de/oauth/v2/authorize?client_id=295768322392260612&redirect_uri=https://sarkom.net/registrierung&scope=oidc:urn:zitadel:iam:org:id:295331642380124164&prompt=create&response_type=code"
            target="_blank">Neues Konto erstellen</a>
    </div>
    <div class="flex flex-row justify-center items-center">
        <a
            class="py-6 w-80 text-center text-indigo-800 rounded-lg hover:scale-105 transition-transform"
            href="https://app.famedly.de/#/?homeserver=sarkomnetzwerk.famedly.care"
            target="_blank">Im Messenger anmelden</a>
    </div>
</article>
<article class="container mx-auto px-8 md:flex md:flex-row md:space-x-32 items-center justify-center my-32">
    <div class="w-96 rounded-xl shadow-lg shadow-indigo-100 p-8">
        <h1 class="text-3xl font-bold mb-4">Einführung in Famedly</h1>
        <p class="italic mb-8">Schritt-für-Schritt Anleitung</p>
        <a class="hover:bg-indigo-100 transition-all text-indigo-800 rounded-xl bg-indigo-50 p-4" href="/hilfe/">Mehr erfahren</a>
    </div>
    <div class="w-96 rounded-xl shadow-lg shadow-indigo-100 p-8">
        <h1 class="text-3xl font-bold mb-4">Teilnehmende Sarkomzentren</h1>
        <p class="italic mb-8">Wer nimmt am Netzwerk teil?</p>
        <a class="hover:bg-indigo-100 transition-all text-indigo-800 rounded-xl bg-indigo-50 p-4" href="/teilnehmer/">Mehr
            erfahren</a>
    </div>
</article>