---
title: Netzwerk
layout: "layout.njk"
---

<article class="text-xl mb-8">
    <div class="md:flex container mx-auto px-2 md:px-8">
        <div class=" flex justify-start px-16 pt-16 items-center">
            <img class="h-72 w-72 rounded-3xl shadow-lg shadow-indigo-100" src="/assets/image_3.jpeg" alt="placeholder"/>
        </div>
        <div class="flex-1 px-16 pt-16">
            <p class="italic mb-12">
                Wie ist unser Sarkomnetzwerk strukturiert?
            </p>
            <p>Träger unseres Sarkomnetzwerks ist der Verein
                <a href="https://www.ivo.center/">„Innovation und Versorgung in der Onkologie“ IVO</a>.
            </p>
            <br/>
            <p>
                An unserem Sarkomnetzwerk können prinzipiell neben den bisher beteiligten
                <a href="/teilnehmer/">Sarkomzentren</a>
                alle niedergelassenen und Krankenhausärzte teilnehmen, die Sarkompatientinen und-patienten betreuen. Es ist auch
                geplant, weitere Sarkomzentren in das Sarkomnetzwerk einzubeziehen.
            </p>
        </div>
    </div>
</article>
<article class="text-xl mb-16">
    <div class="flex container mx-auto px-8">
        <div class="flex-1 px-16 pb-16">
            <p>
                <a href="/messenger">Hier</a>
                erfahren Sie, wie Sie sich für die Teilnahme am Sarkomnetzwerk registrieren können.
            </p>
            <br/>
            <p>Um im Sarkomnetzwerk eine datenschutzkonforme Kommunikation zu ermöglichen, was insbesondere für die Übermittlung von
                individuellen Behandlungsdaten von Patienten angeht, wurde eine interne Kommunikationslösung über die
                <a href="https://famedly.com">Messengersoftware Famedly</a>
                etabliert, auf die über unsere Homepage oder über eigenständige APP zugegriffen werden kann. Allen Teilnehmern des
                Sarkomnetzwerks steht diese Kommunikationslösung offen, wofür sie sich lediglich als registrierte Nutzer anmelden und
                ihre Identität bestätigt werden muss.</p>
            <br/><p>Im Sarkomnetzwerk M-V findet aktuell einmal jährlich ein Netzwerktreffen statt, welches vom
                <a href="https://www.medizin.uni-greifswald.de/de/patienten-besucher/zentren-kliniken-institute/onkologisches-zentrum-vorpommern/sarkomzentrum/">
                Sarkomzentrum der Universitätsmedizin Greifswald</a>
                organisiert wird und zu dem alle Teilnehmer des Sarkomnetzwerks immer herzlich eingeladen
                                sind.</p>
        </div>
        <div class="flex justify-end px-16 pb-16 items-center">
            <img class="w-96 h-96 rounded-xl shadow-lg shadow-indigo-100" src="/assets/image_4.jpeg" alt="placeholder"/>
        </div>
    </div>
</article>
<article class="container mx-auto flex flex-row space-x-32 items-center justify-center mb-24">
    <div class="w-96 rounded-xl shadow-lg shadow-indigo-100 p-8">
        <h1 class="text-3xl font-bold mb-4">Teilnehmer</h1>
        <p class="italic mb-8">Wer nimmt am Netzwerk teil?</p>
        <a class="hover:bg-indigo-100 transition-all text-indigo-800 rounded-xl bg-indigo-50 p-4" href="/teilnehmer/">Mehr
            erfahren</a>
    </div>
    <div class="w-96 rounded-xl shadow-lg shadow-indigo-100 p-8">
        <h1 class="text-3xl font-bold mb-4">Diagnose und Behandlung</h1>
        <p class="italic mb-8">Was sind die einzelnen Schritte?</p>
        <a
            class="hover:bg-indigo-100 transition-all text-indigo-800 rounded-xl bg-indigo-50 p-4"
            href="/diagnose-und-behandlung/">Mehr erfahren</a>
    </div>
</article>