---
title: Netzwerk
layout: "layout.njk"
---

<article class="text-xl container mx-auto px-4 lg:px-32 my-16">
    <img
        class="md:float-left md:mr-16 mb-8 h-72 w-72 rounded-3xl shadow-lg shadow-indigo-100"
        src="./assets/image_3.png"
        alt="placeholder"/>
    <h1 class="text-2xl font-bold mb-4">
        Wie ist unser Sarkomnetzwerk strukturiert?
    </h1>
    <p class="italic">Träger unseres Sarkomnetzwerks ist der Verein
        <a class="text-indigo-800 hover:text-indigo-500 underline" href="https://www.ivo.center/">„Innovation und Versorgung in
            der Onkologie“ IVO</a>.
    </p><br/>
    <p>
        An unserem Sarkomnetzwerk können prinzipiell neben den bisher beteiligten
        <a class="text-indigo-800 hover:text-indigo-500 underline" href="./teilnehmer/">Sarkomzentren</a>
        alle niedergelassenen und Krankenhausärzte teilnehmen, die Sarkompatientinen und-patienten betreuen. Es ist auch
        geplant, weitere Sarkomzentren in das Sarkomnetzwerk einzubeziehen.
    </p>
    <p>
        <a class="text-indigo-800 hover:text-indigo-500 underline" href="./messenger">Hier</a>
        erfahren Sie, wie Sie sich für die Teilnahme am Sarkomnetzwerk registrieren können.
    </p>
    <br/> <img
        class="md:float-right md:ml-16 mb-8 w-96 h-96 rounded-xl shadow-lg shadow-indigo-100"
        src="./assets/image_4.png"
        alt="placeholder"/>
    <p>Um im Sarkomnetzwerk eine datenschutzkonforme Kommunikation zu ermöglichen, was insbesondere für die Übermittlung von
        individuellen Behandlungsdaten von Patienten angeht, wurde eine interne Kommunikationslösung über die
        <a class="text-indigo-800 hover:text-indigo-500 underline" href="https://famedly.com">Messengersoftware Famedly</a>
        etabliert, auf die über unsere Homepage oder über eigenständige APP zugegriffen werden kann. Allen Teilnehmern des
        Sarkomnetzwerks steht diese Kommunikationslösung offen, wofür sie sich lediglich als registrierte Nutzer anmelden und
        ihre Identität bestätigt werden muss.</p>
    <br/><p>Im Sarkomnetzwerk M-V findet aktuell einmal jährlich ein Netzwerktreffen statt, welches vom
        <a
            class="text-indigo-800 hover:text-indigo-500 underline"
            href="https://www.medizin.uni-greifswald.de/de/patienten-besucher/zentren-kliniken-institute/onkologisches-zentrum-vorpommern/sarkomzentrum/">
            Sarkomzentrum der Universitätsmedizin Greifswald</a>
        organisiert wird und zu dem alle Teilnehmer des Sarkomnetzwerks immer herzlich eingeladen
                        sind.</p>
</article>
<article class="container mx-auto px-8 md:flex md:flex-row md:space-x-32 items-center justify-center my-32">
    <div class="w-96 rounded-xl shadow-lg shadow-indigo-100 p-8">
        <h1 class="text-3xl font-bold mb-4">Teilnehmende Sarkomzentren</h1>
        <p class="italic mb-8">Wer nimmt am Netzwerk teil?</p>
        <a class="hover:bg-indigo-100 transition-all text-indigo-800 rounded-xl bg-indigo-50 p-4" href="./teilnehmer/">Mehr
            erfahren</a>
    </div>
    <div class="w-96 rounded-xl shadow-lg shadow-indigo-100 p-8">
        <h1 class="text-3xl font-bold mb-4">Einführung in Famedly</h1>
        <p class="italic mb-8">Schritt-für-Schritt Anleitung</p>
        <a class="hover:bg-indigo-100 transition-all text-indigo-800 rounded-xl bg-indigo-50 p-4" href="./hilfe/">Mehr erfahren</a>
    </div>
</article>