---
title: Netzwerk
layout: "layout.njk"
---

<article class="text-xl container mx-auto px-4 lg:px-32 my-16">
    <img
        class="md:float-left md:mr-16 mb-8 h-72 w-72 rounded-3xl shadow-lg shadow-indigo-100"
        src="/assets/image_3.png"
        alt="placeholder"/>
    <h1 class="text-2xl font-bold mb-4">
        Warum gibt es unser Sarkomnetzwerk?
    </h1>
    <p>
        Sarkome sind sehr seltene bösartige Tumoren, deren bestmögliche Behandlung oft den Einsatz komplexer Diagnostik- und
        Therapieverfahren erfordert. Die Betreuung von Sarkompatientinnen und -patienten sollte deshalb an erfahrenen
        Sarkomzentren oder zumindest in Kooperation mit einem Sarkomzentrum erfolgen.
    </p><br/>
    <p>Da nicht an allen Sarkomzentren immer alle spezialisierten Untersuchungs- und Behandlungsverfahren durchgeführt
        werden, kann es im Einzelfall sinnvoll sein, Patienten für bestimmte Phasen ihrer Behandlung zwischen Sarkomzentren zu
        überweisen.Im Laufe der Jahre haben sich hierfür zwischen den Sarkomzentren sehr enge Kooperationen entwickelt.
    </p>
    <br/> <img
        class="md:float-right md:ml-16 mb-8 w-96 h-96 rounded-xl shadow-lg shadow-indigo-100"
        src="/assets/image_4.png"
        alt="placeholder"/>
    <p>Besonders in einem Flächenland wie Mecklenburg-Vorpommern sind die Wege zwischen niedergelassenen Fachärzten,
        wohnortnahen Krankenhäusern und Sarkomzentren oft sehr weit. Um bei Fragen zur Diagnosestellung oder Behandlung eine
        schnelle und unkomplizierte Beratung an einem Sarkomzentrum zu ermöglichen, wurde das sarkom.netzwerk zunächst in
        Mecklenburg-Vorpommern (M-V) gegründet. So können wir zeitnah eine Vorstellung in unserem interdisziplinären Sarkomboard
        oder einen Termin für ein Beratungsgespräch am Sarkomzentrum vereinbaren und unseren Patienten die bestmögliche
        Diagnostik und Therapie anbieten.</p>
    <br/><p>Nach Ausbau des
        <span class="text-indigo-800">sarkom.net<span class="text-cyan-700">zwerk</span>
        </span>
        zunächst mit Schwerpunkt in den östlichen Bundesländern Berlin/Brandenburg und Sachsen soll das sarkom.netzwerk
        schrittweise auf weitere Regionen erweitert werden und es ist geplant weitere Sarkomzentren in das Netzwerk einzubinden.
    </p>
    <h2 class="text-xl font-bold mb-4 mt-8">
        Wie ist unser Sarkomnetzwerk strukturiert?
    </h2>
    <p class="italic">Träger unseres
        <span class="text-indigo-800">sarkom.net<span class="text-cyan-700">zwerk</span>
        </span>
        ist der Verein „<a target="_blank" class="text-indigo-800 hover:text-indigo-500 underline" href="https://www.ivo.center/">
            Innovation und Versorgung in der Onkologie</a>“ IVO.</p>
    <br/><p>An unserem sarkom.netzwerk können neben den bisher beteiligten
        <a class="text-indigo-800 hover:text-indigo-500 underline" href="/teilnehmer/">Sarkomzentren</a>
        alle niedergelassenen und Krankenhausärzte teilnehmen, die Sarkompatientinen und-patienten betreuen. Wir planen auch,
        weitere Sarkomzentren in das Netzwerk einzubeziehen.</p><br/><p>
        Um eine datenschutzkonforme Kommunikation und den Austausch von Behandlungsdaten zu ermöglichen, nutzen wir die sichere
        Messenger-Software
        <a class="text-indigo-800 hover:text-indigo-500 underline" href="/hilfe/">Famedly</a>. Sie können darauf über unsere
            Homepage oder eine eigenständige App zugreifen. Diese Kommunikationslösung steht allen Teilnehmern des
        <span class="text-indigo-800">sarkom.net<span class="text-cyan-700">zwerk</span>
        </span>
        zur Verfügung. Für die Nutzung ist eine
        <a class="text-indigo-800 hover:text-indigo-500 underline" href="/messenger/">Registrierung</a>
        mit Identitätsnachweis
                                                erforderlich.
    </p><br/><p>Im sarkom.netzwerk M-V findet aktuell einmal jährlich ein Netzwerktreffen statt, welches vom
        <a
            target="_blank"
            class="text-indigo-800 hover:text-indigo-500 underline"
            href="https://www.medizin.uni-greifswald.de/de/patienten-besucher/zentren-kliniken-institute/onkologisches-zentrum-vorpommern/sarkomzentrum/">
            Sarkomzentrum der Universitätsmedizin Greifswald</a>
        organisiert wird und zu dem alle Teilnehmer des
        <span class="text-indigo-800">sarkom.net<span class="text-cyan-700">zwerk</span>
        </span>
        herzlich eingeladen
                                                                                sind.</p>
</article>
<article class="container mx-auto px-8 md:flex md:flex-row md:space-x-32 items-center justify-center my-32">
    <div class="w-96 rounded-xl shadow-lg shadow-indigo-100 p-8">
        <h1 class="text-3xl font-bold mb-4">Teilnehmende Sarkomzentren</h1>
        <p class="italic mb-8">Wer nimmt am Netzwerk teil?</p>
        <a class="hover:bg-indigo-100 transition-all text-indigo-800 rounded-xl bg-indigo-50 p-4" href="/teilnehmer/">Mehr
            erfahren</a>
    </div>
    <div class="w-96 rounded-xl shadow-lg shadow-indigo-100 p-8">
        <h1 class="text-3xl font-bold mb-4">Diagnose und Behandlung</h1>
        <p class="italic mb-8">Die einzelnen Schritte erklärt</p>
        <a
            class="hover:bg-indigo-100 transition-all text-indigo-800 rounded-xl bg-indigo-50 p-4"
            href="/diagnose-und-behandlung/">Mehr erfahren</a>
    </div>
</article>