---
title: Registrierung
layout: "layout.njk"
---

<article class="text-xl container mx-auto px-4 lg:px-32 my-16">
    <div class="flex flex-row justify-center items-center">
        <img class="w-96 mb-16" src="https://krille-chan.github.io/sarkomnetzwerk/assets/banner_2.png"/>
    </div>
    <p class="text-center mb-8">Sie wurden erfolgreich registriert!
        <span class="font-bold">Bevor</span>
        Sie sich im Messenger anmelden können, müssen Sie
                noch von den Betreibern
        <span class="font-bold">freigeschaltet</span>
        werden. Sobald das passiert, werden Sie per E-Mail benachrichtigt.</p>
    <div class="flex flex-row justify-center items-center">
        <a
            class="py-6 w-80 text-center bg-indigo-800 rounded-lg text-white hover:scale-105 transition-transform"
            href="https://app.famedly.de/#/?homeserver=sarkomnetzwerk.famedly.care"
            target="_blank">Im Messenger anmelden</a>
    </div>
</article>
<article class="container mx-auto px-8 md:flex md:flex-row md:space-x-32 items-center justify-center my-32">
    <div class="w-96 rounded-xl shadow-lg shadow-indigo-100 p-8">
        <h1 class="text-3xl font-bold mb-4">Einführung in Famedly</h1>
        <p class="italic mb-8">Schritt-für-Schritt Anleitung</p>
        <a
            class="hover:bg-indigo-100 transition-all text-indigo-800 rounded-xl bg-indigo-50 p-4"
            href="https://krille-chan.github.io/sarkomnetzwerk/hilfe/">Mehr erfahren</a>
    </div>
    <div class="w-96 rounded-xl shadow-lg shadow-indigo-100 p-8">
        <h1 class="text-3xl font-bold mb-4">Teilnehmende Sarkomzentren</h1>
        <p class="italic mb-8">Wer nimmt am Netzwerk teil?</p>
        <a
            class="hover:bg-indigo-100 transition-all text-indigo-800 rounded-xl bg-indigo-50 p-4"
            href="https://krille-chan.github.io/sarkomnetzwerk/teilnehmer/">Mehr erfahren</a>
    </div>
</article>